<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="DecWebTestSite.Site" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>December Project</title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <b>The December Project</b>
        

       
             
             <asp:LoginView id="LoginView1" runat="server">
                    <AnonymousTemplate>
                        Please log in for personalized information.
                    </AnonymousTemplate>
                    <LoggedInTemplate>
                        Thanks for logging in and 
                        <asp:LoginName id="LoginName1" runat="server" 
               FormatString ="Welcome, {0}" />.
                    </LoggedInTemplate>
                    <RoleGroups>
                        <asp:RoleGroup Roles="Admin">
                            <ContentTemplate>
                                <asp:LoginName id="LoginName2" runat="Server"></asp:LoginName>, 
                                you are logged in as an administrator.
                            </ContentTemplate>
                        </asp:RoleGroup>
                    </RoleGroups>
                </asp:LoginView>
                
                 <asp:LoginStatus id="LoginStatus1" loginText="Log In"
             logoutAction="Refresh"  logoutText="Log Out" 
             runat="server" />
             
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
        
        <br />
        <div style="color:Gray;">(This site is a simple test site to test the functionality in the DecemberAccessProvider implementation of ASP.NET Membership)</div>
    </div>
    </form>
</body>
</html>
