<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings>
    <add name="AccessFileName" connectionString="~/App_Data/DecWebTest.mdb" providerName="System.Data.OleDb"/>
  </connectionStrings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" defaultUrl="Login.aspx"/>
    </authentication>
    <membership defaultProvider="AccessMembershipProvider">
      <providers>
        <clear/>
        <add name="AccessMembershipProvider" type="Samples.AccessProviders.AccessMembershipProvider, DecemberAccessProvider" connectionStringName="AccessFileName" enablePasswordRetrieval="false" enablePasswordReset="false" requiresUniqueEmail="true" requiresQuestionAndAnswer="false" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" applicationName="SampleSite" hashAlgorithmType="SHA1" passwordFormat="Hashed"/>
      </providers>
    </membership>
    <!--<roleManager enabled="true" defaultProvider="AccessRoleProvider" cacheRolesInCookie="true" cookieName=".ASPXROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <add name="AccessRoleProvider"
          type="Samples.AccessProviders.AccessRoleProvider, DecemberAccessProvider"
          connectionStringName="AccessFileName"
          applicationName="SampleSite"/>
      </providers>
    </roleManager>
    <profile enabled="true" defaultProvider="AccessProfileProvider">
      <providers>
        <add name="AccessProfileProvider"
          type="Samples.AccessProviders.AccessProfileProvider, DecemberAccessProvider"
          connectionStringName="AccessFileName"
          applicationName="SampleSite"
          description="Stores and retrieves profile data from an DecemberAccessProvider database."/>
      </providers>
      <properties>
        <add name="QuoteListId" type="string" allowAnonymous="true" serializeAs="String"/>
      </properties>
    </profile>
    <anonymousIdentification enabled="true" cookieName=".ASPXANONYMOUS" cookieTimeout="100000" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="None" domain=""/>
    <webParts>
      <personalization defaultProvider="AccessPersonalizationProvider">
        <providers>
          <add name="AccessPersonalizationProvider"
            type="Samples.AccessProviders.AccessPersonalizationProvider, DecemberAccessProvider"
            connectionStringName="AccessFileName"
            applicationName="SampleSite"/>
        </providers>
      </personalization>
    </webParts>-->
    <!--
    <trust level="Medium"/>
        -->
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>